ul.articles__list 
    li.articles__item
        a(href="#article_first").title_text.active.article_first Самое важное в SASS
    li.articles__item.blog_text
        a(href="#article_second").title_text.article_second Приёмы в вёрстке, без которых не обходится ни один сайт 
    li.articles__item.blog_text
        a(href="#article_third").title_text.article_third Самый необходимый набор Gulp плагинов
    li.articles__item.blog_text
        a(href="#article_fourth").title_text.article_fourth Почему я выбрал Jade