ul.articles__list 
    li.articles__item
        a(href="#article_first").title_text.active.article_first The most important things in SASS
    li.articles__item.blog_text
        a(href="#article_second").title_text.article_second 7 Essential JavaScript Functions 
    li.articles__item.blog_text
        a(href="#article_third").title_text.article_third The most essential set of Gulp plugins
    li.articles__item.blog_text
        a(href="#article_fourth").title_text.article_fourth Why I chose Jade