ul.articles__list 
    li.articles__item
        a(href="#").title_text.active Самое важное в SASS
    li.articles__item.blog_text
        a(href="#").title_text Приёмы в вёрстке, без которых не обходится ни один сайт 
    li.articles__item.blog_text
        a(href="#").title_text Самый необходимый набор Gulp плагинов
    li.articles__item.blog_text
        a(href="#").title_text Почему я выбрал Jade