footer.footer
            .footer_row
                .container
                    .footer__col.footer__col_right
                        .footer__descr.descr_content
                            p jefiorfhwgrtwfjghoirjfvbhgrlidheoihioedwhqewdo
                    .footer__col.footer__col_middle
                        nav.menu
                            ul.menu__list
                                each item in ['мои работы','обо мне','блог','авторизация']
                                    li.menu__item
                                        a(href="#").menu__link #{item}
                    .footer__col.footer__col_left
                       
            .footer__row
                .container_bottom
                    .footer__col.footer__col_right ul.my_contacts
                        ul.my_contacts
                            li.my_contacts__icons
                                a(href="#")
                                    svg.icon
                                        use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")
                            li.my_contacts__icons 
                                a(href="#")
                                    svg.icon
                                        use(xlink:href="assets/svg/sprite.svg#github")
                            li.my_contacts__icons 
                                a(href="#")
                                    svg.icon
                                        use(xlink:href="assets/svg/sprite.svg#in")
                        .footer__descr.descr_content
                            p jefiorfhwgrtwfjghoirjfvbhgrlfidheoihioedwhqewdo
                    .footer__col.footer__col_middle
                        .footer__descr.descr_content
                            p jefiorfhwgrtwfjghoirjfvbhgrlfidheoihioedwhqewdo
                    .footer__col.footer__col_left
                        .footer__descr.descr_content
                            p jefiorfhwgrtwfjghoirjfvbhgrlfidheoihioedwhqewdo