footer.footer
            .footer_row.footer__top
                
                    .footer__part.footer__part_right
                        .footer__descr.descr_content.footer__descr_right
                            p “Talk is cheap. Show me the code.”  
                            p Linus Torvalds
                    .footer__part.footer__part_left
                        .footer__col.footer__col_middle
                            nav.menu
                                ul.menu__list
                                    //- each item in ['Мои работы','Обо мне','Блог','Aвторизация']
                                    //-     li.descr_content_text.menu__item
                                    //-         a(href="#").menu__link #{item}
                                    li.descr_content_text.menu__item_footer
                                        a(href="my_works.html").menu__link My works 
                                    li.descr_content_text.menu__item_footer
                                        a(href="about_me.html").menu__link About me
                                    li.descr_content_text.menu__item_footer
                                        a(href="blog.html").menu__link Blog
                                    li.descr_content_text.menu__item_footer
                                        a(href="index.html").menu__link Authorization
                            ul.my_contacts
                                li.my_contacts__icons
                                    a(href="https://vk.com/miss_smile1").my_contacts__link
                                        svg.icon_footer.icon.socials__icon
                                            use(xlink:href="assets/svg/sprite.svg#vk")
                                li.my_contacts__icons 
                                    a(href="https://github.com/mariatarasenko").my_contacts__link
                                        svg.icon_footer.icon.socials__icon
                                            use(xlink:href="assets/svg/sprite.svg#github")
                                li.my_contacts__icons 
                                    a(href="https://www.linkedin.com/in/maria-tarasenko-a4571914a/").my_contacts__link
                                        svg.icon_footer.icon.socials__icon
                                            use(xlink:href="assets/svg/sprite.svg#in")
                        .footer__col.footer__col_left
                        
                            
                            .footer__descr.footer__descr_contacts
                                p.descr_content_text matarasenko
                                p.descr_content_text mariaatarasenko@gmail.com
                                p.descr_content_text +7 999 344 33 34
                                p.descr_content_text Warsaw
                        
                       
            .footer_row.footer__bottom
                .footer__bottom_content © Tarasenko Maria | Made with love in LoftSchool | 2017
                    