.header__socials
    include socials.pug
.header__menu   
    .hamburger
        .hamburger__top
        .hamburger__middle
        .hamburger__bottom
.header__title.works__user
    .stars1_img.user_icon
        //- svg.user_icon.svg_white_transp
        //-     use(xlink:href="assets/svg/sprite.svg#stars1")            
        .header__user
            include user.pug
            
.header__scroll
    svg.svg_white.arrow_down.icon
        use(xlink:href="assets/svg/sprite.svg#arrow_down") 