section.section.header
        .header__socials
            include socials.pug
        .header__title
            .section__tytle
                img(src="", alt="stars").section__tytle_pic
            include user.pug
                .hamburger.header__menu
                    .hamburger__top
                    .hamburger__middle
                    .hamburger__bottom
                .arrow_down.header__scroll