.header__socials
    include socials.pug
      
            
.header__menu_blog
    .hamburger
        .hamburger__top
        .hamburger__middle
        .hamburger__bottom
section.nav__menu_hidden
    include menu.pug
.background__left
.backround__right
