section.section.header
        .header__socials
            ul.socials
                each item in [`vk`,`fb`,`in`]
                    li.socials__item
                        a(href="#" class=`socials__links social__links_${item}`)
      
            
        .hamburger.header__menu
            .hamburger__top
            .hamburger__middle
            .hamburger__bottom