ul.menu
    li.menu__item
        a(href="index.html").subtitle.menu_title Main page
    li.menu__item
        a(href="about_me.html").subtitle.menu_title About me
    li.menu__item
        a(href="my_works.html").subtitle.menu_title My works
    li.menu__item
        a(href="blog.html").subtitle.menu_title Blog