ul.menu
    li.menu__item
        a(href="index.html").subtitle.menu_title Главная
    li.menu__item
        a(href="about_me.html").subtitle.menu_title Обо мне
    li.menu__item
        a(href="my_works.html").subtitle.menu_title Мои работы
    li.menu__item
        a(href="blog.html").subtitle.menu_title Блог