ul.menu
    li.menu__item
        a(href="index.html") Главная
    li.menu__item
        a(href="about_me.html") Обо мне
    li.menu__item
        a(href="my_works.html") Мои работы
    li.menu__item
        a(href="blog.html") Блог