ul.socials
    li.socials__item
        a(href="https://vk.com/miss_smile1").socials__link    
            svg.icon.socials__icon
                use(xlink:href="assets/svg/sprite.svg#vk").socials__link   
    li.socials__item
        a(href="https://github.com/mariatarasenko").socials__link       
            svg.icon.socials__icon
                use(xlink:href="assets/svg/sprite.svg#github").socials__link   
    li.socials__item
        a(href="https://www.linkedin.com/in/maria-tarasenko-a4571914a/").socials__link       
            svg.icon.socials__icon
                use(xlink:href="assets/svg/sprite.svg#in")
    
