.user.header__user
                .user__pic
                    img(src="", alt="photo").user__pic_img
                .user__info
                    .user__name Мария Тарасенко
                    .user__desc Личный сайт веб разработчика