.user
    .user__content    
        .user__circle.user__pic
            img(src="assets/images/common/user.jpg", alt="user").user__circle_img            
        .user__info
            .user__name Maria Tarasenko
            .user__desc My portfolio page
            