.user
    .user__content    
        .user__circle.user__pic
            img(src="assets/images/common/user.jpg", alt="user").user__circle_img            
        .user__info
            .user__name Мария Тарасенко
            .user__desc Личный сайт веб разработчика
            