extends ../template

block variables 
    - var title = 'About me'

block content
    
    section.top_section.section.works_section
        .wel_container 
            .video_back_block    
                video(autoplay    object-fit="cover").video_back 
                    source(src="assets/images/common/night.mp4")
            img(src="assets/images/common/mountains.png", alt="1").mountains_back
            include ../common/header.pug 
            .header__scroll
                a(href="#about__section")
                    svg.svg_white.arrow_down.icon
                        use(xlink:href="assets/svg/sprite.svg#arrow_down")
    section.about__triangle_section
        .about__triangle_both
            svg.about__triangle.about__triangle_left.svg_biege(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="0,0 0,100 500,100")
            svg.about__triangle.about__triangle_right.svg_white_triangle(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="500,100 1000,0 1000,100")
    section.section.about__section#about__section
        .about__left.about__part 
            .about__part_container.info  
                .about__left_title.about__titles.main_title Обо мне
                
                .info__photo
                    img(src="assets/images/common/user.jpg", alt="photo").info__photo_jpg 
                .info__descr
                    .info__descr_title
                        .subtitle.subtitle_left Кто я
                    .info__descr_text.descr_content
                        p.grey_text.about_text Я веб разработчик из Варшавы. Мне 20 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p.grey_text.about_text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about__right.about__part
            .about__part_container
            
                .about__right_title.about__titles
                    .subtitle.right_title Чем я могу быть вам полезна
                .about__right_descr.descr_content
                    p.grey_text Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                .about__right_skills
                    .skills__list
                        .skills__wrap
                            .skills__title Frontend
                                ul.skills__row_list
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-90` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item HTML
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-80` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item CSS3
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-70` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item JavaScript &amp; jQuery
                        .skills__wrap
                            .skills__title Backend
                                ul.skills__row_list
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-70` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item PHP
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-40` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item mySQL
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-50` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item  Node.js &amp; npm
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-30` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item Mongo.db
                        .skills__wrap
                            .skills__title Workflow
                                ul.skills__row_list
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-80` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item Gulp
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-60` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item Webpack
                                    li.skills__item
                                        svg.skills__circles(viewBox="0 0 110 110")
                                            circle(class="circle__back" r="45" cx="50%" cy="50%" fill="none")
                                            circle(class=`circle__front circle-80` r="45" cx="50%" cy="50%" fill="none" transform="rotate(-90 55 55)")
                                        span.skills__row_item Git
    section.section.map_section
        #map
        .contacts
            .contacts__title
                .subtitle Контакты
            ul.contacts__list
                .contacts__row
                    li.contacts__item
                        .contacts__icon
                            svg.icon.svg_blue
                                use(xlink:href="assets/svg/sprite.svg#skype") 
                        .grey_text.contacts__text matarasenko
                    li.contacts__item
                        .contacts__icon
                            svg.icon.svg_blue
                                use(xlink:href="assets/svg/sprite.svg#envelope_n") 
                        .grey_text.contacts__text mariaatarasenko@gmail.com
                .contacts__row
                    li.contacts__item
                        .contacts__icon
                            svg.icon.svg_blue
                                use(xlink:href="assets/svg/sprite.svg#phone_n") 
                        .grey_text.contacts__text +48 503 243 304
                    li.contacts__item
                        .contacts__icon
                            svg.icon.svg_blue
                                use(xlink:href="assets/svg/sprite.svg#map_n") 
                        .grey_text.contacts__text Варшава

        include ../common/footer.pug



                        

                    




                
        


