extends ../template

block variables 
    - var title = 'Authorization'

block content
    section.section.top_section.avto_section.wel_container
        .welcome
            .avto__welcome
                .sign_in
                    .avto__title Авторизуйтесь
                    form.avto_form
                        .form__wrap
                            .label_container
                                .label_wrap
                                    label.signin__label(for="login")
                                        .label__icon.login
                                            svg.svg_gray
                                                use(xlink:href="assets/svg/sprite.svg#login")
                                        input#email.label__input(name="login" placeholder="Логин")
                                .label_wrap
                                    label.signin__label(for="password")
                                        .label__icon.password
                                            svg.svg_gray
                                                use(xlink:href="assets/svg/sprite.svg#password")
                                        input#password.label__input(name="password" placeholder="Пароль")
                            .signin__buttons
                                .signin__checkbox
                                    input#robot__check.robot__check(type="checkbox" name="robot-check")
                                    label.check__label(for="robot__check") Я человек
                                        svg.check__label_icon
                                            use(xlink:href="./images/sprite/mySprite.min.svg#check")
                                .signin__radio
                                    .robot__quest Вы точно не робот?
                                    .robot__radio
                                        input#yes.robot__radio_tag(name="anwsr" type="radio")
                                        label.radio__label(for="yes") Да
                                    .robot__radio
                                        input#not-sure.robot__radio_tag(name="anwsr" type="radio")
                                        label.radio__label(for="not-sure") Не уверен
                    .avto__links
                        .avto__link.wel__menu_item
                            a.avto__link_one(href="main.html")
                            .avto__link_descr На главную
                        .avto__link.wel__menu_item
                            a.avto__link_one(href="main.html")
                            .avto__link_descr Войти
    .welcome__footer
        .welcome__descr.descr_content
            p © Мария Тарасенко | создано с любовью в LoftSchool | 2017
            
