extends ../template

block variables 
    - var title = 'my works'
   
   

block content
    
    section.works_section.section.top_section#works_section
        .wel_container 
            .video_back_block    
                video(autoplay    object-fit="cover").video_back 
                    source(src="assets/images/common/night.mp4")
            img(src="assets/images/common/mountains.png", alt="1").mountains_back
        include ../common/header.pug
        .header__scroll
            a(href="#slider_section")
                svg.svg_white.arrow_down.icon
                    use(xlink:href="assets/svg/sprite.svg#arrow_down") 
        .slider__title_bg
            svg.triangle_works.about__triangle_left.svg_dark(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="0,0 0,100 500,100")
            svg.triangle_works.about__triangle_right.svg_dark(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="500,100 1000,0 1000,100")
            
            .slider__title_order.stars3_img             
                .works__title.main_title My works  
    section.slider_section#slider_section 
        
        .slider
            .slider__item_layout    
                
                .slider__info
                    .works__list_title.subtitle Online school website
                    .works__list_techn Pug, SCSS, Javascript
                    .active__button.works__button
                        svg.svg_white.svg_link.small_icon
                            use(xlink:href="assets/svg/sprite.svg#link")
                        a(href="#").works__button_link View website
                .slider_display
                    img(src="assets/images/works/works_school.png", alt="1").middle.slider__main_img.slider__show_img
                .slider__btns
                    .slider__btns_one.slider__btns_down
                        img(src="assets/images/works/works_bus.jpg", alt="down").btn_img.slider__img_down
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_down")
                    .slider__btns_one.slider__btns_up
                        img(src="assets/images/works/works_yoga.jpg", alt="up").btn_img.slider__img_up
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")
                
    section.reviews
        .reviews__title
            svg.reviews__icon.svg_white_transp
                use(xlink:href="assets/svg/sprite.svg#stars3")
            .main_titl.reviews__title_text what people say about me
        .reviews__items
            .reviews__items_one
                .reviews_photo_right.circle__pic.reviews_photo 
                .reviews__text.quote 
                    span.reviews__text_content This girl studied web development in LoftSchool! This means that she survived 3 months of heavy tasks and sleepless nights!
                .reviews__autor
                    p.reviews__text_content <strong> Kovalchuk Dmitry </strong> <br> — founder of Loftschool
            .reviews__items_one
                .reviews_photo_left.circle__pic.reviews_photo 
                .reviews__text.quote
                    span.reviews__text_content This code will go through many tests. But please, do not load the site on too old browsers!
                .reviews__autor
                    p.reviews__text_content <strong>Sabantsev Vladimir</strong> <br> — teacher
        .form_block
            .form_image
            form(action="#", method="post").form_questions
                //- .form__contents
                .form__title.subtitle Contact with me
                .form__row
                    label(for='name')
                        span.form_title 
                        input#name.form__content.form__text(type='text', placeholder='Ваше имя' name='name')
                .form__row
                    label(for='email')
                        span.form_title 
                        input#name.form__content.form__text(type='text', placeholder='Ваш email' name='email')
                .form__row
                    label(for='comment')
                        span.form_title 
                        textarea.form__content.form__coment.form__text(name="comment", placeholder='Ваше сообщение', cols="30", rows="10" )
                .form__buttons_row
                    button(type="submit").button__form.blue__button
                        span.button__text Send
                    button(type="reset").button__form.button_transp
                        span.button__text Clear
        .arrow_up    
            a(href="#works_section")
                svg.icon.svg_white
                    use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")

        include ../common/footer.pug
              