extends ../template

block variables 
    - var title = 'my works'
   
   

block content
    
    section.works_section.section.top_section#works_section
        include ../common/header.pug
        .header__scroll
            a(href="#slider_section")
                svg.svg_white.arrow_down.icon
                    use(xlink:href="assets/svg/sprite.svg#arrow_down") 
        .slider__title_bg
            svg.triangle_works.about__triangle_left.svg_dark(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="0,0 0,100 500,100")
            svg.triangle_works.about__triangle_right.svg_dark(viewBox="0 0 1000 100" preservaspectratio="none")
                polygon(points="500,100 1000,0 1000,100")
            //- svg.bg_icon.svg_dark.bg_icon_works
            //-     use(xlink:href="assets/svg/sprite.svg#bg_header")
            
            .slider__title_order.stars3_img            
                //- svg.my_works__icon.svg_white_transp.stars_img
                //-     use(xlink:href="assets/svg/sprite.svg#stars4") 
                .works__title.main_title Мои работы   
    section.slider_section.section#slider_section 
        
        .slider
            .slider__item
                .slider__info
                    .works__list_title
                        .subtitle сайт бизнес центра
                    .works__list_techn HTML, CSS, Jquery, Javascript
                    .active__button.works__button
                        svg.svg_white.svg_link.small_icon
                            use(xlink:href="assets/svg/sprite.svg#link")
                        a(href="#").works__button_link Посмотреть сайт
                .slider_display
                    img(src="assets/images/works/works_bus.jpg", alt="1").middle.slider__main_img
                .slider__btns
                    .slider__btns_one.slider__btns_down.btn_img_yoga
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_down")
                    .slider__btns_one.slider__btns_up.btn_img_school
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")
            .slider__item
                .slider__info
                    .works__list_title
                        .subtitle корпоративный сайт школы йоги
                    .works__list_techn HTML, CSS, JavaScript
                    .active__button.works__button
                        svg.svg_white.svg_link.small_icon
                            use(xlink:href="assets/svg/sprite.svg#link")
                        a(href="#").works__button_link Посмотреть сайт
                .slider_display
                    img(src="assets/images/works/works_yoga.jpg", alt="1").middle.slider__main_img
                .slider__btns
                    .slider__btns_one.slider__btns_down.btn_img_school
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_down")
                    .slider__btns_one.slider__btns_up.btn_img_bus
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")
            .slider__item.slider__item_active
                .slider__info
                    .works__list_title
                        .subtitle сайт школы онлайн образования
                    .works__list_techn Pug, SCSS, Javascript
                    .active__button.works__button
                        svg.svg_white.svg_link.small_icon
                            use(xlink:href="assets/svg/sprite.svg#link")
                        a(href="#").works__button_link Посмотреть сайт
                .slider_display
                    img(src="assets/images/works/works_school.png", alt="1").middle.slider__main_img
                .slider__btns
                    .slider__btns_one.slider__btns_down.btn_img_bus
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_down")
                    .slider__btns_one.slider__btns_up.btn_img_yoga
                        .svg_slider.middle
                            svg.icon.svg_white
                                use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")
                    
    section.reviews
        .reviews__title
            svg.reviews__icon.svg_white_transp
                use(xlink:href="assets/svg/sprite.svg#stars3")
            .main_title.reviews__title_text что обо мне говорят
        .reviews__items
            .reviews__items_one
                .reviews_photo_right.circle__pic.reviews_photo 
                .reviews__text.quote 
                    span.reviews__text_content Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .reviews__autor
                    p.reviews__text_content <strong>Ковальчук Дмитрий</strong> <br> — основатель Loftschool
            .reviews__items_one
                .reviews_photo_left.circle__pic.reviews_photo 
                .reviews__text.quote
                    span.reviews__text_content Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                .reviews__autor
                    p.reviews__text_content <strong>Сабанцев Владимир</strong> <br> — преподаватель
        //- form(action="#", method="post").form_block
        //-     .form__title.subtitle Связаться со мной 
        //-     .form__rowp.reviews__autor_prof
        form(action="#", method="post").form_block
            .form__title.subtitle Связаться со мной 
            .form__row
                label(for='name')
                    span.form_title 
                    input#name.form__content.form__text(type='text', placeholder='Ваше имя' name='name')
            .form__row
                label(for='email')
                    span.form_title 
                    input#name.form__content.form__text(type='text', placeholder='Ваш email' name='email')
            .form__row
                label(for='comment')
                    span.form_title 
                    textarea.form__content.form__coment.form__text(name="comment", placeholder='Ваше сообщение', cols="30", rows="10" )
            .form__buttons_row
                button(type="submit").button__form.blue__button
                    span.button__text Отправить 
                button(type="reset").button__form.button_transp
                    span.button__text Очистить
        .arrow_up    
            a(href="#works_section")
                svg.icon.svg_white
                    use(xlink:href="assets/svg/sprite.svg#portf_arrow_up")

        include ../common/footer.pug
        
        
                