block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(comtent="" name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./assets/styles/main.min.css")
        
       
        
        
    body
        
        .preloader#preloader
            .preloader__pic#preloader__pic
                svg.preloader__icon#preloader(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="144px" height="144px" viewBox="0 0 144 144" enable-background="new 0 0 144 144" xml:space="preserve")
                    circle(opacity="0.4" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="0" cx="72" cy="71.999" r="70")
                    circle(opacity="0.7" fill="none" stroke="#FFFFFF" stroke-width="3.8938" stroke-miterlimit="0" cx="72" cy="72" r="55")
                    circle(fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="0" cx="72" cy="72" r="40")
                #percent__text.preloader__text 0
        block content
        block scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8D3sTkxvD9zcoQtr2fCyKSxfe6noB4no&callback=initMap")
            script(src="assets/scripts/bundle.js")                             
            
