block variables

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(comtent="" name="keywords")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./assets/styles/main.min.css")
        
       
        
        
    body
        
        block content
        block scripts
            script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
            script(src="assets/scripts/bundle.js")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8D3sTkxvD9zcoQtr2fCyKSxfe6noB4no&callback=initMap")
            
            
	


                        

                    




                
        


