
.about__triangle{
    position: absolute;
    bottom: 0;
}
.about__triangle_both{
    grid-area: bot_part  ;
}

.about__left_title{
    color:$black_title;
   // text-align: center;
    
    
}

.about__titles{
    padding-bottom: rem(40px);
    padding-right: 10%;
    text-align: center; 

    @include tablets{
        padding-top: 40px;
        
        
    }
}


.about__left {
    background-color: $about_me;
    @include tablets{
    padding-left: 10%;
    }
    
}

.about__section{
    display: flex;
    width: 100%;
    min-height: rem(1000px);

    @include tablets{
        flex-direction: column;
        height: auto;
     
        
 }
    
}

.info__photo_avatar{
    width: 100%;
    height: rem(391px);
    background-image: url("../images/common/user.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__right_title{
display: flex;
justify-content:center ;

}
.right_title{
    max-width: rem(255px);
}

.about__part {
    flex: 1;

    @include tablets{
        text-align: center;
    }
}

.subtitle_left{
    margin: rem(20px) rem(10px) rem(40px) rem(10px);
}
.about_text{
    padding-bottom: rem(20px);
}

.info{
    padding-left: rem(20px); 
}


.about__part_container  {
    width: 80%;
    padding-left: rem(40px);
}


.map_section{
    width: 100%;
    height: 100%;
   min-height: rem(1000px);
   flex-direction: column;
   background-color:blue; 
}

.contacts{
    width: rem(580px);
    max-width: 60%;
    height: rem(293px);
    
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 25%;
    left: 25% ;

    @include tablets{
        left: 20% ; 
        min-height: 40%; 
    }
    
    
}
#map{
    height: 90%;
}

.contacts__item{
    display: flex;
    align-items: center;
    padding: rem(20px) 0; 
    
    @include tablets{
        padding: rem(10px) 0;
    }
}

.contacts__text{
    padding-left: rem(10px);
}

.contacts__row{
    display: flex;
    flex-direction: column;
    padding: rem(15px) rem(20px);

    @include tablets{
        padding: 0 rem(20px);
    }

}

.contacts__list{
    display: flex;
    @include tablets{
        flex-direction: column;
    }
}

.contacts__title{
    padding: rem(40px) 0;
}
.about__right{
    margin-left:rem(50px);
}