.blog__top{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "icons user burger "
                         "left user right";

}
.user__top{
    margin-top:rem(30px);
    position:relative;
    grid-area: user;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header__socials{
    grid-area: icons;
}

.header__menu_blog{
    grid-area: burger;
}

.blog__content{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 7fr 1fr ;
    grid-template-areas:"svg_top svg_top svg_top"
                         "titles articles articles" 
                         "footer footer footer"


}

.articles{
    grid-area: titles;
}

.top_icon{
    grid-area: svg_top; 
    margin-top: rem(-230px);
    
}

.articles__content {
    grid-area: articles ;   
    padding: rem(10px) rem(25px);
}

.article_title{
    color: $black_title;
    font-family: sansusregular;
    font-size: rem(35px);
}
.article_date{
    color:$dark_blue;
    opacity: 0.7;
}

.blog_text.active{
    color:$dark_blue;
    font-family: robotobold;
}
.blog_text{
    color:$gray_text;
}
.blog_text_white{
    color: #fff;
}

.article_content{
    padding: rem(10px) 0;
}
.articles__item{
    padding-top:rem(10px);
    padding-left:rem(20px);
}
.article_photo{
    padding:rem(15px)x 0;
}
.articles__content_item{
    padding:rem(20px) 0 rem(10px) 0;
    border-bottom: 5px solid #DCDCDC;
}