.blog__top{
    position: relative;
    width: 100%;
    height: 50%;
   
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-areas: 
                        "icons user burger "
                         "left user right"
                         "svg_top svg_top svg_top";

}

.blog__triangle_section{
    
}
.user__top{
    margin-top:rem(30px);
    position:relative;
    grid-area: user;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header__socials{
    grid-area: icons;
}

.header__menu_blog{
    grid-area: burger;
}

.blog__content{
    width: 100%;
    max-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 127fr 1fr ;
    grid-template-areas:
                         "titles articles articles" 
                         "footer footer footer";
    @include tablets{
        grid-template-areas:
                         "articles articles articles" 
                         "footer footer footer";
    }




}

.articles{
    position: fixed;
    grid-area: titles;
    padding: rem(20px) rem(25px);
    display: block;
    max-width: 450px;
    @include big_tablets{
        max-width: 390px;
    }
    @include tablets{
        display: none;
    }
}

.top_icon{
    grid-area: svg_top; 
    // margin-top: rem(-230px);
    
}

.articles__content {
    grid-area: articles ;   
    padding: rem(10px) rem(65px);
}

.article_title{
    color: $black_title;
    font-family: sansusregular;
    font-size: rem(35px);
}
.article_date{
    color:$dark_blue;
    opacity: 0.7;
}

.title_text.active{
    color:$dark_blue;
    font-family: robotobold;

    @include tablets{
        color:#fff;
        opacity: 1;
    }
}
.title_text{
    color:$gray_text;

    @include tablets{
        color:#fff;
        opacity: 0.87;
    }
}
.blog_text_white{
    color: #fff;
}

.article_content{
    padding: rem(10px) 0;
    color:$gray_text;
}
.articles__item{
    padding-top:rem(10px);
    padding-left:rem(20px);
}
.article_photo{
    padding:rem(15px)x 0;
    width:100%;
}
.articles__content_item{
    padding:rem(20px) 0 rem(10px) 0;
    border-bottom: 5px solid #DCDCDC;
}

.triangle_blog{
    position:absolute;
    bottom:50%;
}
.mobile_articles.opened{
    margin-left: 0;
    transition:  margin-left 1.5s;
}
.mobile_articles{
    
width: 320px;
height: 100%;

background-color: rgba(#253468, 1);
position:fixed;
top: 0;
bottom: 0;
left: 0;
z-index: 15;
margin-left: -340px;
transition:  margin-left 1.5s;


@include mobile{
    min-height: 2340px;
}
}

.articles__list{
    @include tablets{
        margin-top: 40vh;
        position: fixed;
        width: 320px;
        padding: 0 10px;
    }
}
.mobile_articles_button.opened{
    position: fixed;
            top: 50%;
            left: 297px;
            background-color: rgba(#253468, 1);
            transition: left 1.5s;
}
.mobile_articles_button{
    
        @include tablets{
            display: block;
            content: "";
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: rgba(#253468, 0.87);
            position: fixed;
            top: 50%;
            left: -23px;
            cursor: pointer; 
            transition: left 1.5s;
        }
    
}