.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    
}
.footer_row{
    display: flex;
  
}
.footer__col{
    flex: 1;
}
.my_contacts{
    display: inline-flex;
    width: 100%;
    padding-left: 9px;
}

.footer__top{
    background-color:rgba($gray_footer_lighter,0.9);
}
.footer__bottom{
    background-color:rgba($dark_blue,0.9); 
    
}

.my_contacts__icons{
    width: 50px;
    margin: 0;
    padding: 0;
}

.footer__col_middle{

}

.menu__link{
    color: #fff;
    padding: 0 9px;

}

.menu__list{
    padding: 20px 0;
}
.descr_content_text{
    padding-bottom: 9px;
}

.footer__descr{
    padding-top: 29px;
    line-height: 24px;
    padding-left: 10px;
    padding-bottom: 15px;
}

.footer__bottom_content{
    padding: 10px 0;
    //text-align: center;
    margin: 0 auto;
}
.footer__bottom{
    width: 100%;
    
}