.wel_container{
    position: absolute;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    
    // display: grid;
    // grid-template-columns: 1fr 2fr 1fr;
    // grid-template-rows: 1fr 2fr 1fr;
    // grid-template-areas: "left top avto "
    //                      "left welcome right"
    //                      "left footer right";

}

.authorization{
 
 position: absolute;
 top: 0;
 right: 0;
 

}

.button_auto{
    margin-right:rem(100px);
    margin-top: rem(24px);
    width: rem(180px);
    height: rem(45px);
    
}

.button__text{
    color: #ffffff;
    font-family: robotoregular;
    font-size: rem(16px);
    display:flex;
    align-items:  center;
    justify-content: center;
}




.welcome__content{
    // grid-area: welcome;
    width: 450px;
    height: 400px;
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 225px);
    perspective: 1000px;
    
}



.wel__menu{
    display: flex;
    justify-content: space-around;
   
}

.wel__menu_item{
  background-color:$blue_button; 
  
  width:100%;
  

  &:hover{
    background-color:$blue_button_hover; 
    transition: background-color 1s;
  }

}

.wel__menu_link{
    color:#fff;
    display:flex;
    justify-content:center;
    padding: rem(14px) 0;

}

.wel__link_middle{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.welcome__descr{
display: flex;

align-items: flex-end;
}

.welcome__footer{
   position: absolute;
   width: 500px;
   bottom: 1%;
   left: calc(50% - 250px);
    display: flex;
    justify-content: space-around
    }

.descr_content{
    padding-bottom:rem(30px);
}

.welcome__flip {
    width: 100%;
    height: 100%;
    transform: rotateY(0);
    transform-style: preserve-3d;
    transition:1000ms;
    display: flex;
   
}

.welcome__flip.flip{
    transform: rotateY(180deg);
} 

.flip__front {
    position: absolute;
    top: 0;
    left: 0;

    width: 450px;
    height: 400px;
    backface-visibility: hidden;
    background-color:rgba($gray_footer_lighter, 0.5);

}

.flip__back{
    position: absolute;
    top: 0;
    left: 0;
width: 450px;
height: 400px;
backface-visibility: hidden;
transform-style: preserve-3d;
transform: rotateY(180deg);
background-color:rgba($gray_footer_lighter, 0.5);
}

.video_back{
    min-width: 100%;
    min-height:100% ;
    margin-left: rem(-10px);


}

.video_back_block{
    position: absolute;
    top: 0;
    left: 0;
   // height: 100%;
    //overflow: hidden;
}

.mountains_back{
    width: 100%;
    position: absolute;
    bottom: 0;
}