.main_content{
    height: 100%;
    min-height: 650px;
    transition: 1s;
   // will-change: transform;
    //transform: translateZ(0);//выносим все на отдельный компонентный слой  
 @include tablets(){
     min-height: auto;
 }
}

.top_section{
    background-image:url(../images/common/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.section{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height:1200px;
    width: 100%;
    min-height: rem(650px);
    display: flex;
    overflow: hidden;
    position: relative;

  
}

.button_transp{
    background-color: transparent;
    border:1px solid #fff;

    &:hover{
        background-color:$blue ; 
        border:none; 
        transition:background-color 2s;
    }   
}

.main_title{
    font-size: rem(63px);
    font-weight: 400;
    line-height: rem(56px);
    text-transform: uppercase;
    font-family: sansusregular;
}



.subtitle{
    color:$black_title;
    font-family: "sansusregular";
    font-size: rem(35px);
    font-weight: 400;
    line-height: rem(40.98px);
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &::after{
        content: '';
        position: absolute;
        width: 5.625rem;
        height: .1875rem;
        background: #566358;
        bottom: -.9375rem;
        left: 50%;
        transform: translate(-50%);
        opacity: 0;
        }

    &:hover{
        &::after{
            opacity: 1;
        }  
    }
}




.middle{
    display: flex;
    justify-content: center ;
    align-items: center;
}

