.svg_red{
    fill:#e25028;
}

.svg_yellow{
    fill:#f8b43a;
}

.svg_green{
    fill:#8ac03e;
}

.svg_trans{
    fill:transparent;
    stroke: #fff;
    opacity: 0.2 ;
}

.svg_white{
    color:#fff;
    opacity: 0.5;

    &:hover{
opacity: 1;
transition: opacity 1s;
    }
    
}

.svg_white_transp{
    fill:#fff;
    opacity:0.3 ;
}

.svg_dark{
    fill:$gray_footer_lighter;
    opacity:0.5 ;
}



.svg_biege{
 fill:$about_me;
}
.svg_white_triangle{
    fill:#fff;

    @include tablets{
        fill:$about_me;
    } 
}

.svg_blue{
 color:$blue_button;
}

.svg_gray{
    fill: #9fa1a1;
    position: absolute;
     top: rem(14px);
      left:rem(9px); 
      width: rem(31px); 
      height:rem(17px);
}

.svg_white_bg{
    fill: #Fff;
}