.socials__link   {
    color: currentColor;
    padding:rem(35px) rem(14px) rem(15px) rem(14px);
}

.socials{
    text-align: center;
}

.socials__item{
    
    display: inline-flex;
    
    
}

.socials__icon{
    color:#fff;

    &:hover{
        color:$dark_blue;
        transition: color 2s;
    } 

}