.user{
// display:flex;
// flex-direction: column;
// justify-content: center;
// text-align: center;
// align-items: center;


}
.circle__pic{
    width: 141px;
    height: 141px;
    border-radius: 50%;
   
    background-size: cover;
    background-repeat: no-repeat;
    
}
.user__pic{
    
    background-image: url(../images/common/user.jpg);
    
    margin-top: 40px;
}

.user__info{
margin-top:10px;
}

.user__name{
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
}

.user__desc{
    margin-top:5px;
    opacity: 0.8 ;
}



.user__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__title_content{
    position: absolute;
    left: 42%;
}